.logout {
    margin: 2rem;
    padding: 1rem;
    text-align: center;   
    border: 5px solid darkgray;
    background-color: #FE4880;
	color: white;}

.text {
    padding: 1rem;
    margin: 2rem;
    display: block;
    float: left;
    align-self: center;
    align-content: center;
    border: 5px solid darkgray;
    background-color: #FE4880;
	color: white;
}
